.container{
  background-color: chocolate;
  margin-top: 100px;
  box-sizing: border-box;
  width: 40%;
  height: 50vh;
  margin-left: 300px;
  

}

input{
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 30px;
}